*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}
.header{
    color: green;
    margin: 20px 40px;
}
.bold{
    font-weight: 900;
}
#header-title{
    text-decoration: underline;
}